.allForm{
    text-align: center;
}

.selectLabel{
    text-align: center;
}

.formname{
    margin: 1%;
}

.select{
    width: 23%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.formEH{
    width: 25%;
}